# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv('Resources/applicants_data.csv')

# Review the DataFrame
applicant_data_df

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Review the data types associated with the columns
applicant_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   EIN                     34299 non-null  int64
 1   NAME                    34299 non-null  object
 2   APPLICATION_TYPE        34299 non-null  object
 3   AFFILIATION             34299 non-null  object
 4   CLASSIFICATION          34299 non-null  object
 5   USE_CASE                34299 non-null  object
 6   ORGANIZATION            34299 non-null  object
 7   STATUS                  34299 non-null  int64
 8   INCOME_AMT              34299 non-null  object
 9   SPECIAL_CONSIDERATIONS  34299 non-null  object
 10  ASK_AMT                 34299 non-null  int64
 11  IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(4), object(8)
memory usage: 3.1+ MB

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [4]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns = ['EIN', 'NAME'])

# Review the DataFrame
applicant_data_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [5]:
# Create a list of categorical variables 
categorical_variables = applicant_data_df.select_dtypes(include=['object']).columns.tolist()

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [6]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse_output= False)

In [7]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [8]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names_out(categorical_variables)
)

# Review the DataFrame
encoded_df

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [9]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat(
    [applicant_data_df.drop(columns=categorical_variables), encoded_df], 
    axis=1
)

# Review the Dataframe
encoded_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [10]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL']

# Display a sample of y
y

0        1
1        1
2        0
3        1
4        1
        ..
34294    0
34295    0
34296    0
34297    1
34298    0
Name: IS_SUCCESSFUL, Length: 34299, dtype: int64

In [11]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns=['IS_SUCCESSFUL'])

# Review the features DataFrame
X

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [12]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    random_state= 1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [13]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Transform the features training and testing datasets
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [14]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train_scaled[0])

# Review the number of features
number_input_features

116

In [15]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [16]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  hidden_nodes_layer1 =  (number_input_features + number_output_neurons) // 2

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [17]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = hidden_nodes_layer2 = hidden_nodes_layer1 // 2

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

29

In [18]:
# Create the Sequential model instance
nn = Sequential()

In [19]:
# Add the first hidden layer
nn.add(
    Dense
    (
        units = hidden_nodes_layer1,
        input_dim = number_input_features,
        activation = 'relu'
    )
)

In [20]:
# Add the second hidden layer
nn.add(
    Dense
    (
        units = hidden_nodes_layer2,
        activation = 'relu'
    )
)

In [21]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(
    Dense
    (
        units = number_output_neurons,
        activation = 'relu'
    )
)

In [22]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 58)                6786

 dense_1 (Dense)             (None, 29)                1711

 dense_2 (Dense)             (None, 1)                 30

=================================================================
Total params: 8527 (33.31 KB)
Trainable params: 8527 (33.31 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [23]:
# Compile the Sequential model
nn.compile(
    loss = 'binary_crossentropy',
    optimizer = 'adam',
    metrics = ['accuracy']
)

In [24]:
# Fit the model using 50 epochs and the training data
model = nn.fit(
    X_train_scaled,
    y_train,
    epochs = 50
)

Epoch 1/50
804/804 [==============================] - 1s 559us/step - loss: 1.1794 - accuracy: 0.6966
Epoch 2/50
804/804 [==============================] - 0s 557us/step - loss: 1.0786 - accuracy: 0.7073
Epoch 3/50
804/804 [==============================] - 0s 546us/step - loss: 0.8554 - accuracy: 0.7075
Epoch 4/50
804/804 [==============================] - 0s 543us/step - loss: 0.8551 - accuracy: 0.7129
Epoch 5/50
804/804 [==============================] - 0s 511us/step - loss: 0.9517 - accuracy: 0.7098
Epoch 6/50
804/804 [==============================] - 0s 509us/step - loss: 0.8758 - accuracy: 0.7109
Epoch 7/50
804/804 [==============================] - 0s 494us/step - loss: 0.8026 - accuracy: 0.7133
Epoch 8/50
804/804 [==============================] - 0s 500us/step - loss: 0.7671 - accuracy: 0.7279
Epoch 9/50
804/804 [==============================] - 0s 495us/step - loss: 0.8408 - accuracy: 0.7212
Epoch 10/50
804/804 [==============================] - 0s 503us/step - loss: 0.8718 - accuracy: 0.7224
Epoch 11/50
804/804 [==============================] - 0s 497us/step - loss: 0.9333 - accuracy: 0.7130
Epoch 12/50
804/804 [==============================] - 0s 494us/step - loss: 0.8719 - accuracy: 0.7193
Epoch 13/50
804/804 [==============================] - 0s 510us/step - loss: 0.8021 - accuracy: 0.7243
Epoch 14/50
804/804 [==============================] - 0s 510us/step - loss: 0.8111 - accuracy: 0.7211
Epoch 15/50
804/804 [==============================] - 0s 525us/step - loss: 0.7767 - accuracy: 0.7180
Epoch 16/50
804/804 [==============================] - 0s 510us/step - loss: 0.7656 - accuracy: 0.7239
Epoch 17/50
804/804 [==============================] - 0s 494us/step - loss: 0.8085 - accuracy: 0.7227
Epoch 18/50
804/804 [==============================] - 0s 515us/step - loss: 0.8240 - accuracy: 0.7240
Epoch 19/50
804/804 [==============================] - 0s 524us/step - loss: 0.8370 - accuracy: 0.7227
Epoch 20/50
804/804 [==============================] - 0s 511us/step - loss: 0.8437 - accuracy: 0.7202
Epoch 21/50
804/804 [==============================] - 0s 536us/step - loss: 0.7977 - accuracy: 0.7276
Epoch 22/50
804/804 [==============================] - 0s 512us/step - loss: 0.8177 - accuracy: 0.7205
Epoch 23/50
804/804 [==============================] - 0s 523us/step - loss: 0.7076 - accuracy: 0.7271
Epoch 24/50
804/804 [==============================] - 0s 511us/step - loss: 0.6971 - accuracy: 0.7294
Epoch 25/50
804/804 [==============================] - 0s 511us/step - loss: 0.7042 - accuracy: 0.7298
Epoch 26/50
804/804 [==============================] - 0s 526us/step - loss: 0.7149 - accuracy: 0.7259
Epoch 27/50
804/804 [==============================] - 0s 546us/step - loss: 0.7050 - accuracy: 0.7239
Epoch 28/50
804/804 [==============================] - 0s 525us/step - loss: 0.6720 - accuracy: 0.7265
Epoch 29/50
804/804 [==============================] - 0s 539us/step - loss: 0.6222 - accuracy: 0.7331
Epoch 30/50
804/804 [==============================] - 0s 562us/step - loss: 0.6228 - accuracy: 0.7312
Epoch 31/50
804/804 [==============================] - 0s 581us/step - loss: 0.6275 - accuracy: 0.7290
Epoch 32/50
804/804 [==============================] - 0s 597us/step - loss: 0.6170 - accuracy: 0.7324
Epoch 33/50
804/804 [==============================] - 1s 643us/step - loss: 0.6147 - accuracy: 0.7335
Epoch 34/50
804/804 [==============================] - 0s 566us/step - loss: 0.6178 - accuracy: 0.7318
Epoch 35/50
804/804 [==============================] - 0s 527us/step - loss: 0.6137 - accuracy: 0.7318
Epoch 36/50
804/804 [==============================] - 0s 502us/step - loss: 0.6423 - accuracy: 0.7308
Epoch 37/50
804/804 [==============================] - 0s 534us/step - loss: 0.6274 - accuracy: 0.7263
Epoch 38/50
804/804 [==============================] - 0s 533us/step - loss: 0.6145 - accuracy: 0.7341
Epoch 39/50
804/804 [==============================] - 0s 529us/step - loss: 0.6090 - accuracy: 0.7338
Epoch 40/50
804/804 [==============================] - 0s 601us/step - loss: 0.6157 - accuracy: 0.7345
Epoch 41/50
804/804 [==============================] - 0s 586us/step - loss: 0.6260 - accuracy: 0.7266
Epoch 42/50
804/804 [==============================] - 0s 582us/step - loss: 0.6157 - accuracy: 0.7328
Epoch 43/50
804/804 [==============================] - 0s 558us/step - loss: 0.6162 - accuracy: 0.7345
Epoch 44/50
804/804 [==============================] - 0s 566us/step - loss: 0.6163 - accuracy: 0.7343
Epoch 45/50
804/804 [==============================] - 0s 538us/step - loss: 0.6129 - accuracy: 0.7339
Epoch 46/50
804/804 [==============================] - 0s 543us/step - loss: 0.6135 - accuracy: 0.7335
Epoch 47/50
804/804 [==============================] - 0s 574us/step - loss: 0.6106 - accuracy: 0.7353
Epoch 48/50
804/804 [==============================] - 0s 551us/step - loss: 0.6234 - accuracy: 0.7326
Epoch 49/50
804/804 [==============================] - 0s 576us/step - loss: 0.6189 - accuracy: 0.7303
Epoch 50/50
804/804 [==============================] - 0s 565us/step - loss: 0.5964 - accuracy: 0.7341

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [25]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test, y_test, verbose=2)

# Display the model loss and accuracy results
print("")
print("Results")
print(f"Loss: {model_loss}") 
print(f"Accuracy: {model_accuracy}")

268/268 - 0s - loss: 7.1791 - accuracy: 0.5292 - 150ms/epoch - 559us/step

Results
Loss: 7.17914342880249
Accuracy: 0.5292128324508667

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [26]:
# Set the model's file path
file_path = Path('Resources/AlphabetSoup.h5')

# Export your model to a HDF5 file
nn.save(file_path)

/Users/timothyb.watson/miniforge3/envs/tensor/lib/python3.8/site-packages/keras/src/engine/training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [27]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [28]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [29]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = (number_input_features * 2)

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

232

In [30]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [31]:
# First hidden layer
nn_A1.add(
    Dense
    (
        units = hidden_nodes_layer1_A1,
        input_dim = number_input_features,
        activation = 'tanh'
    )
)

# Second hidden layer
hidden_nodes_layer2_A1 = hidden_nodes_layer1_A1 // 2

nn_A1.add(
    Dense
    (
        units=hidden_nodes_layer2_A1, 
        activation='relu'
    )
)

# Output layer
nn_A1.add(
    Dense
    (
        units = number_output_neurons,
        activation = 'sigmoid'
    )
)

# Check the structure of the model
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 232)               27144

 dense_4 (Dense)             (None, 116)               27028

 dense_5 (Dense)             (None, 1)                 117

=================================================================
Total params: 54289 (212.07 KB)
Trainable params: 54289 (212.07 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [32]:
# Compile the Sequential model
nn_A1.compile(
    loss = 'binary_crossentropy',
    optimizer = 'adam',
    metrics = ['accuracy']
)

In [33]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(
    X_train_scaled,
    y_train,
    epochs = 30
)

Epoch 1/30
804/804 [==============================] - 1s 809us/step - loss: 0.5681 - accuracy: 0.7196
Epoch 2/30
804/804 [==============================] - 1s 798us/step - loss: 0.5555 - accuracy: 0.7270
Epoch 3/30
804/804 [==============================] - 1s 796us/step - loss: 0.5515 - accuracy: 0.7291
Epoch 4/30
804/804 [==============================] - 1s 757us/step - loss: 0.5501 - accuracy: 0.7295
Epoch 5/30
804/804 [==============================] - 1s 735us/step - loss: 0.5481 - accuracy: 0.7306
Epoch 6/30
804/804 [==============================] - 1s 802us/step - loss: 0.5471 - accuracy: 0.7320
Epoch 7/30
804/804 [==============================] - 1s 799us/step - loss: 0.5464 - accuracy: 0.7326
Epoch 8/30
804/804 [==============================] - 1s 786us/step - loss: 0.5458 - accuracy: 0.7319
Epoch 9/30
804/804 [==============================] - 1s 795us/step - loss: 0.5451 - accuracy: 0.7321
Epoch 10/30
804/804 [==============================] - 1s 810us/step - loss: 0.5444 - accuracy: 0.7327
Epoch 11/30
804/804 [==============================] - 1s 799us/step - loss: 0.5438 - accuracy: 0.7338
Epoch 12/30
804/804 [==============================] - 1s 775us/step - loss: 0.5433 - accuracy: 0.7332
Epoch 13/30
804/804 [==============================] - 1s 797us/step - loss: 0.5427 - accuracy: 0.7364
Epoch 14/30
804/804 [==============================] - 1s 792us/step - loss: 0.5425 - accuracy: 0.7351
Epoch 15/30
804/804 [==============================] - 1s 775us/step - loss: 0.5411 - accuracy: 0.7361
Epoch 16/30
804/804 [==============================] - 1s 791us/step - loss: 0.5407 - accuracy: 0.7350
Epoch 17/30
804/804 [==============================] - 1s 769us/step - loss: 0.5407 - accuracy: 0.7360
Epoch 18/30
804/804 [==============================] - 1s 792us/step - loss: 0.5401 - accuracy: 0.7367
Epoch 19/30
804/804 [==============================] - 1s 795us/step - loss: 0.5394 - accuracy: 0.7366
Epoch 20/30
804/804 [==============================] - 1s 807us/step - loss: 0.5395 - accuracy: 0.7368
Epoch 21/30
804/804 [==============================] - 1s 811us/step - loss: 0.5385 - accuracy: 0.7356
Epoch 22/30
804/804 [==============================] - 1s 793us/step - loss: 0.5388 - accuracy: 0.7364
Epoch 23/30
804/804 [==============================] - 1s 825us/step - loss: 0.5381 - accuracy: 0.7372
Epoch 24/30
804/804 [==============================] - 1s 826us/step - loss: 0.5382 - accuracy: 0.7375
Epoch 25/30
804/804 [==============================] - 1s 828us/step - loss: 0.5377 - accuracy: 0.7385
Epoch 26/30
804/804 [==============================] - 1s 903us/step - loss: 0.5371 - accuracy: 0.7372
Epoch 27/30
804/804 [==============================] - 1s 872us/step - loss: 0.5366 - accuracy: 0.7374
Epoch 28/30
804/804 [==============================] - 1s 827us/step - loss: 0.5360 - accuracy: 0.7394
Epoch 29/30
804/804 [==============================] - 1s 809us/step - loss: 0.5366 - accuracy: 0.7396
Epoch 30/30
804/804 [==============================] - 1s 869us/step - loss: 0.5359 - accuracy: 0.7383

#### Alternative Model 2

In [34]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [35]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [36]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = number_input_features * 3

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

348

In [37]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [38]:
from tensorflow.keras.layers import LeakyReLU

# First hidden layer
nn_A2.add(
    Dense
    (
        units=hidden_nodes_layer1_A2, 
        input_dim=number_input_features
    )
)
nn_A2.add(
    LeakyReLU
    (
        alpha=0.01
    )
) 

# Second hidden layer
hidden_nodes_layer2_A2 = hidden_nodes_layer1_A2 // 2

nn_A2.add(
    Dense
    (
        units=hidden_nodes_layer2_A2, 
        activation='relu'
    )
)

# Thrid hidden layer
hidden_nodes_layer2_A3 = hidden_nodes_layer1_A2 // 2

nn_A2.add(
    Dense
    (
        units=hidden_nodes_layer2_A3, 
        activation='relu'
    )
)


# Output layer
nn_A2.add(
    Dense
    (
        units = number_output_neurons,
        activation = 'sigmoid'
    )
)

# Check the structure of the model
nn_A2.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 348)               40716

 leaky_re_lu (LeakyReLU)     (None, 348)               0

 dense_7 (Dense)             (None, 174)               60726

 dense_8 (Dense)             (None, 174)               30450

 dense_9 (Dense)             (None, 1)                 175

=================================================================
Total params: 132067 (515.89 KB)
Trainable params: 132067 (515.89 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [39]:
# Compile the model
nn_A2.compile(
    loss='binary_crossentropy', 
    optimizer='adam', 
    metrics=['accuracy']
)

In [40]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A2.fit(
    X_train_scaled,
    y_train,
    epochs = 25
)

Epoch 1/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5691 - accuracy: 0.7236
Epoch 2/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5536 - accuracy: 0.7309
Epoch 3/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5492 - accuracy: 0.7317
Epoch 4/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5476 - accuracy: 0.7344
Epoch 5/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5452 - accuracy: 0.7338
Epoch 6/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5450 - accuracy: 0.7348
Epoch 7/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7361
Epoch 8/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7361
Epoch 9/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5424 - accuracy: 0.7355
Epoch 10/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5427 - accuracy: 0.7368
Epoch 11/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5419 - accuracy: 0.7369
Epoch 12/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5407 - accuracy: 0.7371
Epoch 13/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5398 - accuracy: 0.7382
Epoch 14/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5397 - accuracy: 0.7371
Epoch 15/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5389 - accuracy: 0.7385
Epoch 16/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5389 - accuracy: 0.7388
Epoch 17/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5380 - accuracy: 0.7390
Epoch 18/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5378 - accuracy: 0.7383
Epoch 19/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5374 - accuracy: 0.7390
Epoch 20/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7387
Epoch 21/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5364 - accuracy: 0.7393
Epoch 22/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5358 - accuracy: 0.7398
Epoch 23/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5358 - accuracy: 0.7390
Epoch 24/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5363 - accuracy: 0.7388
Epoch 25/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5354 - accuracy: 0.7399

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [41]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print("")
print("Results")
print(f"Loss: {model_loss}") 
print(f"Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.6034 - accuracy: 0.7278 - 132ms/epoch - 492us/step

Results
Loss: 0.6034261584281921
Accuracy: 0.7278134226799011

In [42]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print("")
print("Results")
print(f"Loss: {model_loss}") 
print(f"Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.5521 - accuracy: 0.7313 - 146ms/epoch - 544us/step

Results
Loss: 0.5521251559257507
Accuracy: 0.7313119769096375

In [43]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print("")
print("Results")
print(f"Loss: {model_loss}") 
print(f"Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.5563 - accuracy: 0.7297 - 193ms/epoch - 720us/step

Results
Loss: 0.5563266277313232
Accuracy: 0.72967928647995

### Step 3: Save each of your alternative models as an HDF5 file.

In [44]:
# Set the file path for the first alternative model
file_path = Path("Resources/alterbnativet_model_A1.h5")

# Export your model to a HDF5 file
nn_A1.save(file_path)

In [45]:
# Set the file path for the second alternative model
file_path = Path("Resources/alternative_model_A2.h5")

# Export your model to a HDF5 file
nn_A2.save(file_path)